[submodule "RadialSliderGem"]
	path = RadialSliderGem
	url = https://github.com/GedMarc/JWebMP-RadialSliderGemPlugin.git
	ignore=dirty
[submodule "WavesEffects"]
	path = WavesEffects
	url = https://github.com/GedMarc/JWebMP-WavesEffect.git
	ignore=dirty
[submodule "VerticalTimelineGem"]
	path = VerticalTimelineGem
	url = https://github.com/GedMarc/JWebMP-VerticalTimelineGemPlugin.git
	ignore=dirty
